<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
	<link rel="stylesheet" type="text/css" href="../Styles/JSONGrid.css">
	<script type="text/javascript" src = "../Resources/MOCK_DATA.js"></script>
	<script type="text/javascript" src="../Scripts/JSONGrid.js"></script>
</head>
<body ng-app = "JSONGridApp"  ng-controller="JSONGridController">
	<div>
		Search: <input type="text" placeholder="Search employee" ng-model="searchText"/>
		Page Limit: <input type="text" placeholder="Items limt" ng-model="pageLimit"/>
		<br><br>

		<table>
			<thead>
				<tr>
					<th ng-click="sortData('name')" >
						Id
						<div ng-class="getSortClass('name')"></div>
					</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Email</th>
					<th>Gender</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "data in jsonData | limitTo : pageLimit : limit | orderBy: sortColumn: sortReverse | filter:searchText" ng-click = "editRow(data)">
					<td>{{data.id}}</td>
					<td>{{data.first_name}}</td>
					<td>{{data.last_name}}</td>
					<td>{{data.email}}</td>
					<td>{{data.gender}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--Start of div to display the pagination pages-->
	<div class="divClass">
		<span class="page-numbers" ng-click = "getPreviousPage()">Previous</span>
		<span ng-repeat="n in [] | range:totalPages | limitTo: 10 : currentPageNo">
			<span class="page-numbers" ng-click = "getPages(n)">{{ n + 1 }}</span>
		</span>
		<span class="page-numbers" ng-click = "getNextPage()">next</span>
	</div>
	<!--End of div to display the pagination pages-->

	<!-- Start of modal div -->
	<div id="myModel" class="modal" ng-show = showModal>
		<div class="modal-content">
			<!-- Close button to close the modal -->
			<span class="close" ng-click = "showModal = false">&times;</span>
			<!-- Form to edit the json row-->
			<form ng-submit = save()>
				<input type="hidden" ng-model="id"/>
                First name: <input type="text" ng-model="firstName" ><br>
                Last name: <input type="text" ng-model="lastName"><br>
                Email: <input type="email" ng-model="email"><br>
                Gender <br>
                <input type="radio" ng-model="gender" value="Male">Male<br>
                <input type="radio" ng-model="gender" value="Female">Female<br>
                <input type="submit" id="submit" value="Save"/>
			</form>
		</div>
	</div>
	<!-- End of modal div -->
</body>
</html>